.box{
    height: 550px;
    min-height:auto;
    background-color: #fff;
}
.body{  
    padding-top: 90px; 
    padding-bottom: 90px;
}
.bg-cover{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}